Checks: '-*,bugprone-*,cert-*, cppcoreguidelines-*, hicpp-*, misc-*, modernize-*, performance-*, portability-*, readability-*, -modernize-use-trailing-return-type, -readability-identifier-length, -portability-avoid-pragma-once, -misc-include-cleaner, -cppcoreguidelines-pro-type-member-init, -hicpp-member-init'
ExcludeHeaderFilterRegex: '.*\.hpp'
CheckOptions:
    - key: bugprone-argument-comment.StrictMode
      value: 1
    - key: bugprone-exception-escape.FunctionsThatShouldNotThrow
      value: WinMain,SDL_main
    - key: readability-function-cognitive-complexity.Threshold
      value: 20
    - key: readability-function-size.LineThreshold
      value: 100
    - key: readability-function-size.ParameterThreshold
      value: 6
