Checks: '-*,bugprone-*,cert-*, cppcoreguidelines-*, hicpp-*, misc-*, modernize-*, performance-*, portability-*, readability-*, -modernize-use-trailing-return-type, -readability-identifier-length, -portability-avoid-pragma-once, -misc-include-cleaner, -cppcoreguidelines-pro-type-member-init, -hicpp-member-init, -bugprone-infinite-loop, -misc-const-correctness, -bugprone-branch-clone, -readability-convert-member-functions-to-static, -performance-enum-size, -cppcoreguidelines-pro-bounds-avoid-unchecked-container-access, -cppcoreguidelines-avoid-magic-numbers, -readability-magic-numbers, -cppcoreguidelines-pro-bounds-pointer-arithmetic, -cppcoreguidelines-pro-bounds-constant-array-index, -cppcoreguidelines-pro-type-reinterpret-cast, -portability-simd-intrinsics'
ExcludeHeaderFilterRegex: '.*(_deps|googlemock|googletest)/.*'
CheckOptions:
    - key: bugprone-argument-comment.StrictMode
      value: 1
    - key: bugprone-exception-escape.FunctionsThatShouldNotThrow
      value: WinMain,SDL_main
    - key: readability-function-cognitive-complexity.Threshold
      value: 20
    - key: readability-function-size.LineThreshold
      value: 100
    - key: readability-function-size.ParameterThreshold
      value: 6
